.orderPagination {
  display: flex;
  padding: 20px; }
  .orderPagination span {
    font-size: 12px;
    font-weight: 500;
    margin-top: -20px;
    position: absolute; }
  .orderPagination .pagination {
    margin: 0 auto; }
    .orderPagination .pagination li {
      border: 1px solid #d3d3d3;
      border-right: none;
      display: flex;
      padding: 0;
      cursor: pointer; }
      .orderPagination .pagination li.disabled {
        pointer-events: none;
        opacity: 0.6; }
      .orderPagination .pagination li.active {
        background-color: #0062cc;
        color: #fff; }
      .orderPagination .pagination li:last-child {
        border-right: 1px solid #d3d3d3; }
      .orderPagination .pagination li a {
        padding: 0.5rem 0.75rem; }

table.table thead tr {
  border-bottom: 1px solid #eff1f5;
  background: #edf3ff !important; }
  table.table thead tr th {
    border: none; }

table.table tr {
  border-bottom: 1px dashed #a7a7a7; }
  table.table tr:nth-child(even) {
    background: #f7f7f4; }

table.table th,
table.table td {
  padding: 9px 8px;
  border: none; }

table.table th {
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  font-weight: 500;
  border-right: 1px solid; }

table.table td {
  color: #504c4c;
  font-size: 12px;
  border-right: 1px solid #d3d3d3;
  font-weight: normal; }
  table.table td.link {
    color: #1384d0;
    cursor: pointer; }
  table.table td:last-child {
    border-right: none; }
  table.table td a {
    text-decoration: underline; }

table.table .sortable {
  cursor: pointer; }
  table.table .sortable:focus {
    outline: none; }

.table-wrapper {
  margin: 20px; }
